* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* ::-webkit-scrollbar-track {
  background: #2d314d;
  -webkit-transition: all ease .6s;
  transition: all ease .6s;
}

* ::-webkit-scrollbar {
  width: 6px;
  background: #f4f4f4;
  -webkit-transition: all ease .6s;
  transition: all ease .6s;
}

* ::-webkit-scrollbar-thumb {
  background: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background: linear-gradient(to right, #31d35c, #2bb7da);
  -webkit-transition: all ease .6s;
  transition: all ease .6s;
}

body {
  position: relative;
  overflow-x: hidden;
  width: 100vw;
  font-family: 'Public Sans', sans-serif;
}

a, ul, li {
  text-decoration: none;
  list-style: none;
}

span, p {
  color: #9698a6;
}

.header {
  background-color: white;
  padding: 0px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  z-index: 2;
  width: 100vw;
  font-family: "Public Sans", sans-serif;
}

.header__navigation li {
  display: inline-block;
}

.header__navigation-option {
  position: relative;
  margin-left: 20px;
  color: #9698a6;
}

.header__navigation-option:hover::after {
  width: 100%;
}

.header__navigation-option::after {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -35px;
  width: 0;
  height: 4px;
  background: #9698a6;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.header__invite-btn {
  display: -ms-grid;
  display: grid;
  border: none;
  outline: none;
  all: unset;
  width: 8em;
  background: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background: linear-gradient(to right, #31d35c, #2bb7da);
  color: white;
  margin: 20px 0;
  padding: 10px 20px;
  border-radius: 40px;
  cursor: pointer;
}

.header .dropdown-toggle {
  display: none;
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
}

.main__details {
  background-color: #fafafa;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
  height: 90vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.main__details__brief {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
  -webkit-transform: translate(40%, -40%);
          transform: translate(40%, -40%);
}

.main__details__brief-title {
  font-size: 40px;
  color: #2d314d;
  font-weight: 100;
  margin-bottom: 20px;
}

.main__details__brief-btn {
  display: -ms-grid;
  display: grid;
  border: none;
  outline: none;
  all: unset;
  width: 8em;
  background: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background: linear-gradient(to right, #31d35c, #2bb7da);
  color: white;
  margin: 20px 0;
  padding: 15px 30px;
  border-radius: 40px;
  cursor: pointer;
}

.main__details__mockup {
  background: url(../img/bg-intro-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 50px;
  background-position-y: -80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__details__mockup img {
  width: 80%;
  -webkit-transform: translate(140px, -50px);
          transform: translate(140px, -50px);
}

.main__reason {
  background-color: #f3f4f6;
  padding: 100px 50px;
}

.main__reason__benefit {
  position: relative;
  padding-bottom: 20px;
  width: 45vw;
}

.main__reason__benefit-title {
  font-size: 40px;
  color: #2d314d;
  font-weight: 100;
  margin: 20px 0;
}

.main__reason__benefit-paragraph {
  color: #9698a6;
}

.main__reason__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.5em;
}

.main__reason__list img {
  padding: 10px 0;
}

.main__reason__list h2 {
  padding: 15px 0;
  color: #2d314d;
  font-weight: 100;
}

.main__articles {
  padding: 100px 50px;
  background: #fafafa;
}

.main__articles-title {
  font-size: 35px;
  margin-bottom: 30px;
  color: #2d314d;
  font-weight: 100;
}

.main__articles__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1em;
}

.main__articles__list .article_card {
  background: white;
  border-radius: 10px;
  overflow: hidden;
}

.main__articles__list .article_card img {
  width: 100%;
  height: 200px;
  padding-bottom: 20px;
}

.main__articles__list .article_card .card_bory {
  padding: 20px;
}

.main__articles__list .article_card .postedBy {
  margin: 10px 0;
}

.main__articles__list .article_card .article_title {
  font-size: 20px;
  color: #2d314d;
  font-weight: 100;
  padding: 5px 0;
}

.footer {
  background-color: #2d314d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 50px;
}

.footer-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.footer-one__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-one__link img {
  color: #fff;
  padding-bottom: 20px;
}

.footer-one__link-list li {
  display: inline-block;
  margin-right: 10px;
}

.footer-one__nav-1 li {
  margin: 10px 0;
}

.footer-one__nav-1 li a {
  color: #f3f4f6;
  font-size: 15px;
}

.footer-one__nav-2 li {
  margin: 10px 0;
}

.footer-one__nav-2 li a {
  color: #f3f4f6;
  font-size: 15px;
}

.footer-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-two__invite-btn {
  display: -ms-grid;
  display: grid;
  border: none;
  outline: none;
  all: unset;
  width: 8em;
  background: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background: linear-gradient(to right, #31d35c, #2bb7da);
  color: white;
  margin: 20px 0;
  padding: 10px 20px;
  border-radius: 40px;
  cursor: pointer;
}

.footer-two__title {
  color: #9698a6;
  font-weight: 100;
}

.footer-credits {
  background: #1c1f30;
  padding: 10px 0;
}

.footer-credits p {
  text-align: center;
}

@media screen and (max-width: 765px) {
  .header {
    padding: 30px 40px;
  }
  .header__navigation {
    position: absolute;
    top: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: white;
    width: 80%;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all ease-in-out .5s;
    transition: all ease-in-out .5s;
  }
  .header__navigation li {
    margin: 20px 0;
  }
  .header__navigation-option {
    color: #2d314d;
    font-weight: 900;
    font-size: 20px;
  }
  .header__navigation-option::after {
    bottom: -20px;
  }
  .header__invite-btn {
    display: none;
  }
  .header .active {
    opacity: 1;
    visibility: visible;
  }
  .header .dropdown-toggle {
    display: block;
  }
  .main__details {
    all: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    background: #f3f4f6;
  }
  .main__details__brief {
    width: 100%;
    -webkit-transform: translate(0);
            transform: translate(0);
    padding: 0 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .main__details__brief-title {
    width: 95%;
  }
  .main__details__mockup {
    background-size: 100%;
    background-position-x: 120px;
    background-position-y: 30px;
  }
  .main__details__mockup img {
    width: 100%;
    -webkit-transform: translate(0, -90px);
            transform: translate(0, -90px);
  }
  .main__reason {
    padding: 40px;
    width: 100vw;
  }
  .main__reason__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main__reason div {
    margin: auto;
    width: 90%;
    text-align: center;
  }
  .main__articles {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main__articles-title {
    text-align: center;
  }
  .main__articles__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main__articles__list .article_card {
    width: 100%;
  }
  .main__articles__list .article_card img {
    height: 300px;
  }
  .main__articles__list .article_card .card_body {
    padding: 10px 20px 40px 20px;
  }
  .main__articles__list .article_card .card_body .article_title {
    margin: 10px 0;
    width: 80%;
  }
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 40px;
  }
  .footer-one {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-one__nav-1 {
    text-align: center;
  }
  .footer-one__nav-1 li {
    margin-top: 20px 0;
  }
  .footer-one__nav-2 {
    text-align: center;
    margin-top: -20px;
  }
  .footer-one__nav-2 li {
    margin-top: 20px 0;
  }
  .footer-two {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=bundles.css.map */