// Variables Colors
$Dark: hsl(233, 26%, 24%);
$LimeGreen: hsl(136, 65%, 51%);
$BrightCyan: hsl(192, 70%, 51%);
$GrayishBlue: hsl(233, 8%, 62%);
$LightGrayishBlue: hsl(220, 16%, 96%);
$VeryLightGray: hsl(0, 0%, 98%);
$White: hsl(0, 0%, 100%);

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;

	::-webkit-scrollbar-track {
		background: $Dark;
		transition: all ease .6s;
	}
	::-webkit-scrollbar {
		width: 6px;
		background: #f4f4f4;
		transition: all ease .6s;
	}
	::-webkit-scrollbar-thumb {
		background: linear-gradient(to right, #31d35c, #2bb7da);
		transition: all ease .6s;
	}
}

body {
	position: relative;
	overflow-x:hidden ;
	width: 100vw;
	font-family: 'Public Sans', sans-serif;
}

a, ul, li {
	text-decoration: none;
	list-style: none;
}

span, p {
	color: $GrayishBlue;
}
