@media screen and (max-width: 765px) {
  .header {
    padding: 30px 40px;
  }
  .header__navigation {
    position: absolute;
    top: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: white;
    width: 80%;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
  }
  .header__navigation li {
    margin: 20px 0;
  }
  .header__navigation-option {
    color: #2d314d;
    font-weight: 900;
    font-size: 20px;
  }
  .header__navigation-option::after {
    bottom: -20px;
  }
  .header__invite-btn {
    display: none;
  }
  .header .active {
    opacity: 1;
  }
  .header .dropdown-toggle {
    display: block;
  }
  .main__details {
    all: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    background: #f3f4f6;
  }
  .main__details__brief {
    width: 100%;
    -webkit-transform: translate(0);
            transform: translate(0);
    padding: 0 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .main__details__brief-title {
    width: 95%;
  }
  .main__details__mockup {
    background-size: 100%;
    background-position-x: 120px;
    background-position-y: 30px;
  }
  .main__details__mockup img {
    width: 100%;
    -webkit-transform: translate(0, -90px);
            transform: translate(0, -90px);
  }
  .main__reason {
    padding: 40px;
    width: 100vw;
  }
  .main__reason__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main__reason div {
    margin: auto;
    width: 90%;
    text-align: center;
  }
  .main__articles {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main__articles-title {
    text-align: center;
  }
  .main__articles__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main__articles__list .article_card {
    width: 100%;
  }
  .main__articles__list .article_card img {
    height: 300px;
  }
  .main__articles__list .article_card .card_body {
    padding: 10px 20px 40px 20px;
  }
  .main__articles__list .article_card .card_body .article_title {
    margin: 10px 0;
    width: 80%;
  }
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 40px;
  }
  .footer-one {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-one__nav-1 {
    text-align: center;
  }
  .footer-one__nav-1 li {
    margin-top: 20px 0;
  }
  .footer-one__nav-2 {
    text-align: center;
    margin-top: -20px;
  }
  .footer-one__nav-2 li {
    margin-top: 20px 0;
  }
  .footer-two {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=responsive.css.map */